# Raw / large weather data
data/raw/
data/interim/

# Weather data formats
*.grib
*.grib2
*.grb2
*.nc
*.zarr

# Python cache
__pycache__/
*.pyc

# Conda / virtual environments
.venv/
venv/

# Node / JS
node_modules/
dist/
frontend/node_modules/
frontend/dist/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env

# VS Code / IDE
.vscode/
.idea/

# Windows / Mac junk
Thumbs.db
.DS_Store